// colors

$white: #f1f1f1;
$black: #0000;

//container
$screen-sm: 450px;
$screen-md:760px;
$screen-lg:920px;
$screen-xl:1200px;
$screen-xxl:1400px;
$screen-xxxl:1600px;

//font
$font: 'Mukta', sans-serif;